
.aboutMe {
    display: block;
    flex-direction: column;
    color: white;
    font-style: italic;
    font-variant: small-caps;
    font-size: 50px;
    padding-top: 5%;
    padding-left: 500px;
    margin-right: auto;
}


.card2 {
    display: flexbox;
    height: 1000px;
    background: rgba(53, 97, 102, 0.6);
    color: white;
    border-bottom: 5px solid black;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
}

.me_intro {
  color: white;
  display: block;
  flex-wrap: wrap;
  font-size: 25px;
  margin-top: 50px;
  padding-left: 500px;
  padding-right: 500px;
}

@media screen and (max-width: 1200px) {
    .card2 {
      display: inline-flex;
      align-items: center;
      top:60px;
      left: 0px;
      flex-direction: column;
      width:100%;
      /* height: calc(100vh - 77px);  */
      background-color: rgba(53, 97, 102, 0.6);
      border-top: 1px solid black;
    }
  }

  @media screen and (max-width: 1200px) {
    .aboutMe {
      display: inline-flex;
      padding-left: 15px;
      top:60px;
      width:100%;
    }
  } 

  @media screen and (max-width: 1200px) {
    .me_intro {
      display: inline-flex;
      flex-wrap: wrap;
      padding-left: 15px;
      padding-right: 15px;
      top:80px;
      width:100%;
    }
  } 

